<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarks</title>
  </head>
  <body>
    <h1>Bookmarks</h1>

    <ul>
      <% bookmarks.each do |bookmark| %>
        <li>
          <a href="/<%= bookmark.slug %>"><%= bookmark.slug %></a> =&gt;
          <%= bookmark.url %>
        </li>
      <% end %>
    </ul>
  </body>
</html>
